<!-- 회원 조회 html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
<h3>회원목록</h3>
<a th:href="@{#}">회원등록</a>

<table border="1">
    <thead>
        <tr>
            <td>회원번호</td>
            <td>이름</td>
            <td>이메일</td>
            <td>휴대전화</td>
            <td>나이</td>
            <td>성별</td>
            <td>닉네임</td>
            <td>주소</td>
            <td>권한</td>
            <td>관리</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="member:${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.phone}"></td>
            <td th:text="${member.age}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.nickname}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.role}"></td>
            <td>
                <a th:href="@{/admin/modify(id = ${member.id})}">수정</a>
                <a th:href="@{/admin/delete(id = ${member.id})}">삭제</a>
            </td>
        </tr>
    </tbody>
</table>
</div>
</html>