<!-- 로그인 페이지 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/layout1}">

<!-- 메인 영역에 로그인 페이지 보여주기-->
<div layout:fragment="content">
    <th:block layout:fragment="customTitle">
        <title th:text="${title}"></title>
    </th:block>
    <th:block layout:fragment="customContents">
        <table border="1">
            <thead>
            <tr>
                <th>번호</th>
                <th>회원이름</th>
                <th>회원이름</th>
                <th></th>
                <th>회원이메일</th>
                <th>회원주소</th>
                <th>회원등록날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${not #lists.isEmpty(memberList)}" th:each="l : ${memberList}">
                <td th:text="${l.memberId}"></td>
                <td th:text="${l.memberPw}"></td>
                <td th:text="${l.memberName}"></td>
                <td th:text="${l.memberLevel}"></td>
                <td th:text="${l.memberEmail}"></td>
                <td th:text="${l.memberAddr}"></td>
                <td th:text="${l.memberRegDate}"></td>
            </tr>
            <tr th:unless="${not #lists.isEmpty(memberList)}">
                <td colspan="7">등록된 회원의 정보가 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </th:block>
</div>

</html>